<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy4aKIo_GlMSmjr_5JH9fU9ow2b9WcoGA</string>
	<key>GCM_SENDER_ID</key>
	<string>911540992478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techmarathon.app</string>
	<key>PROJECT_ID</key>
	<string>techmarathonapp</string>
	<key>STORAGE_BUCKET</key>
	<string>techmarathonapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911540992478:ios:45068d4082a4f455bfc54f</string>
</dict>
</plist>